<% provide(:title, "about ") %>
<% provide(:title, "| Ruby on Rails Tutorial Sample App") %>
<h1>kfx-social</h1> 
<p> You can follow the code at  <a href="https://github.com/fatherShafiu/kfx-social"></a>kfx-social on github  </p> 


