<footer class="footer"> 
<small> KFX-SOCIAL</a> by
<a href="http://www.michaelhartl.com/">fatherShafiu</a> </small> 
<nav> <ul> <li><%= link_to "Github profile", 'https://github.com/fatherShafiu' %></li> 
<li><%= link_to "Contact", 'fathershafiu@gmail.com' %></li> 
<li><a href="https://twitter.com/FatherShafiu">News</a></li> 
</ul> 
</nav> 
</footer>
